<div id="main-content">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-md-3">
        <div class="filter-header">
          Filtros
        </div>
        <div id="filtro-habitaciones">
          <div class="filter-header">
            <i class="fa fa-bed" aria-hidden="true"></i>
            Palabras clave
          </div>
          <div class="filter-content text-center">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="homeCtrl.filters.search">
            </div>
            <div class="form-group">
              <a href class="btn btn-primary coco-color" ng-click="homeCtrl.filterByKey()">
                Buscar
              </a>
            </div>
          </div>
        </div>
        <!-- end filtro palabra clave -->
        <div id="filtro-propiedad">
          <div class="filter-header">
            <i class="fa fa-home" aria-hidden="true"></i>
            Tipo de propiedad
          </div>
          <div class="filter-content">
            <ul class="list-unstyled">
              <li>
                <a href ng-click="homeCtrl.filterByProperty('Casa')">Casas</a>
              </li>
              <li>
                <a href ng-click="homeCtrl.filterByProperty('Departamento')">Departamentos</a>
              </li>
              <li>
                <a href ng-click="homeCtrl.filterByProperty('Local')">Locales</a>
              </li>
              <li>
                <a href ng-click="homeCtrl.filterByProperty('Terreno')">Terrenos</a>
              </li>
              <li>
                <a href ng-click="homeCtrl.filterByProperty('Salon')">Salones</a>
              </li>
              <li>
                <a href ng-click="homeCtrl.filterByProperty('Otro')">Otros</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end filtro propiedad -->
        <div id="filtro-propiedad">
          <div class="filter-header">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Tipo de operación
          </div>
          <div class="filter-content">
            <ul class="list-unstyled">
              <li>
                <a href ng-click="homeCtrl.filterByOperation('Venta')">Venta</a>
              </li>
              <li>
                <a href ng-click="homeCtrl.filterByOperation('Renta')">Renta</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end filtro propiedad -->
        <div id="filtro-precios">
          <div class="filter-header">
            <i class="fa fa-usd" aria-hidden="true"></i>
            Rango de precios
          </div>
          <div class="filter-content text-center price-filter">
            <div>
              $1,500 a $50,000
            </div>
            <br/>
            <!-- TODO use a range slider -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span class="sr-only">70% Complete</span>
              </div>
            </div>
            <a href="#" class="btn btn-primary coco-color">
              Aplicar
            </a>
          </div>
        </div>
        <!-- end filtro precios -->
        <div id="filtro-habitaciones" class="hide">
          <div class="filter-header">
            <i class="fa fa-bed" aria-hidden="true"></i>
            Habitaciones
          </div>
          <div class="filter-content">
            <ul class="list-unstyled">
              <li>
                <a href="#">1 Habitación</a>
              </li>
              <li>
                <a href="#">2 Habitaciones</a>
              </li>
              <li>
                <a href="#">3 o más habitaciones</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end filtro habitaciones -->
      </div>
      <!-- end sidebar -->
      <div id="houses-content" class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="filter-header house-content-header">
              <div id="list-houses-header">
                <i class="fa fa-th-list" aria-hidden="true"></i>
                Resultado de la búsqueda: <span>{{homeCtrl.listHouses.length}}</span> propiedades
              </div>
              <!-- list houses header -->
              <div id="selected-filters">
                <ul class="list-unstyled list-inline">
                  <li ng-repeat="filter in homeCtrl.selectedFilters">
                    <a href ng-click="homeCtrl.unselectFilter(filter)">
                      <span ng-bind="filter.value"></span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- end selected-filters -->
            </div>
            <!-- end filter-header -->
          </div>
        </div>
        <!-- end row -->
        <div class="row">
          <!-- end column for house item -->
          <div class="col-md-6" ng-repeat="house in homeCtrl.listHouses">
            <article class="house-item">
              <a href="#">
                <div class="cropped-image house-image-content">
                  <img ng-src="{{house.defautltImage.completeUrl}}" alt="casa uno" class="img-responsive portrait">
                </div>
              </a>
              <div class="item-details">
                <a href="#">
                  <h4>
                      $<span ng-bind="house.price"></span>
                      <span ng-bind="house.title"></span>
                  </h4>
                  <div class="item-address text-muted">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span ng-bind="house.address.address"></span>
                  </div>
                  <div class="item-metrics text-muted">
                    <span class="item-loves">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span ng-bind="house.likes"></span>
                    </span>
                    <span class="item-views">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      <span ng-bind="house.views"></span>
                    </span>
                  </div>
                </a>
              </div>
            </article>
          </div>
          <!-- end column for house item -->
        </div>
        <!-- end row -->
        <div class="row">
          <div class="col-md-6" id="pagination">
            <nav aria-label="...">
              <ul class="pagination">
                
                <li class="active">
                  <a href="#">1 <span class="sr-only">(current)</span></a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center" ng-show="(homeCtrl.listHouses && homeCtrl.listHouses.length == 0)">
              Por ahora no hay casa que coincidan con esos criterios de busqueda :)
            </h3>
          </div>
        </div>
        <!-- end pagination row -->
      </div>
      <!-- end houses-content -->
    </div>
  </div>
</div>